.node2faas*
.aws
.gcp
.azure
.DS_Store
functions_name_remove
api_ids_remove
tmp
tmp/*
output
output/*
credentials.txt
*tfstate*
.terraform
temp.json
node_modules
node_modules/*
*terraform-latest*
.exec-*
*.terraform.lock.hcl
